 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">

    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        function ajax_call_number(){
            var now_number = $('.now_number');
            $.ajax({
                type: "GET",
                url: "/restful/call_number/{{ stores.id }}",
                dataType: "json",
                async: false,
                cache: false,
                success: function(json){
                    for(i = 0; i < json.length; i++){
                        var d = json[i][0];
                        var type = json[i][1];
                        var htmlText = now_number[i].innerText;
                        var parentEle = now_number[i].parentNode;
                        var typeEle = $(parentEle).find('.type');
                        var typeText = typeEle.text();
                        if (d !== "当前没有人排队" && d.toString() !== htmlText && typeText == type){
                            window.location.reload();
                        }
                    }
                },
                error: function(){

                }
            })
        }
        window.setTimeout(ajax_call_number(), 5000)
    });
</script>
<title>微餐饮</title>
</head> 
<style>
</style>
<body style="background:#EFF2F5;">

<div class="top">
<h3>{{ stores.name }}</h3>
</div>
{% if stores_queue_info %}
{% for queue in stores_queue_info %}
<form action="/do_call_number/{{ queue.now_id }}" method="get">
<div class="jiaohao">
<div class="nav">
<ul>
<li> 餐桌类型</li>
<li>排队号</li>
<li>等待号</li>
</ul>

</div>
<div class="number">
<ul style="width:96%; margin:auto;">
	<li>
    <ul class="shuzi">
	<li class="type"> {{ queue.type }}</li>
	<li class="now_number">{{ queue.now_number }}</li>
	<li>{{ queue.wait_number }}</li>
    </ul>
    </li>
    <li id="dayin">
  <button type="button"  class="dayin" style="color:#FFF; font-weight:bold;">打印</button>
  <button type="submit"  class="dayin" id="callNumber" style="color:#FFF; font-weight:bold;">叫号</button>
    </li>

</ul>
</div>
</div>
</form>
{% endfor %}
{% else %}

{% endif %}
</body>
</html>

