{% extends "reception/web_base.html" %}
{% block head %}
        {{ super() }}
{% endblock %}
{% block title %} 排队 {% endblock %}

{% block content %}
        <body style="background:#EFF2F5; font-family:'微软雅黑';">
<div class="toptitle">
<b>您身边的餐饮助手</b>
</div>
<!--地区--->
<div class="id">
<div class="idbg">
<span>
<select>
<option>选择省</option>
<option>湖南省</option>
<option>安徽省</option>
<option>江苏省</option>
</select>

<select>
<option>选择市</option>
<option>合肥市</option>
<option>安庆市</option>
<option>淮北市</option>
</select>
<select>
<option>选择区</option>
<option>闵行区</option>
<option>黄浦区</option>
<option>徐汇区</option>
</select>
</span>

</div>
</div>

<!--搜索框结果-->
<div id="bg">
<div class="xinxi">
<ul style="width:99%; margin:auto; padding-top:5px;">
<li class="fl" style="width:33%;"><img src="img/img.jpg" width="100px" height="100px"/></ li>
<li class="fl" style="padding-left:3%; width:66%;">
<ul class="right">
<li><a href="###" class="name">上海泰妃阁美食餐厅（人民广场）</a></li>

<li class="dizhi">上海黄浦区人民广场南京东路</li>
<li class="lu">300m</li>
</ul>

</li>
</ul>

</div>
<div class="clear"></div>
<div  class="text">
<p><a href="#"><b>环境：</b>餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍</a></p>
</div>
<div class="button">
   <button type="submit" class="btn btn-primary btn-lg btn-block" >去排队</button>
<div class="img"></div>
</div>
</div>
<!--搜索结果第一个结束-->


<!--搜索框结果-->
<div id="bg">
<div class="xinxi">
<ul style="width:99%; margin:auto; padding-top:5px;">
<li class="fl" style="width:33%;"><img src="img/img.jpg" width="100px" height="100px"/></ li><li class="fl" style="padding-left:3%; width:66%;">
<ul class="right">
<li><a href="###" class="name">上海泰妃阁美食餐厅（人民广场）</a></li>

<li class="dizhi">上海黄浦区人民广场南京东路</li>
<li class="lu">300m</li>
</ul>

</li>
</ul>

</div>
<div class="clear"></div>
<div  class="text">
<p><a href="#"><b>环境：</b>餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍</a></p>
</div>
<div class="button">
   <button type="submit" class="btn btn-primary btn-lg btn-block" >去排队</button>
<div class="img"></div>
</div>
</div>
<!--搜索结果第2个结束-->
<div id="bg">
<div class="xinxi">
<ul style="width:99%; margin:auto; padding-top:5px;">
<li class="fl" style="width:33%;"><img src="img/img.jpg" width="100px" height="100px"/></ li><li class="fl" style="padding-left:3%; width:66%;">
<ul class="right">
<li><a href="###" class="name">上海泰妃阁美食餐厅（人民广场）</a></li>

<li class="dizhi">上海黄浦区人民广场南京东路</li>
<li class="lu">300m</li>
</ul>

</li>
</ul>

</div>
<div class="clear"></div>
<div  class="text">
<p><a href="#"><b>环境：</b>餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍餐厅介绍</a></p>
</div>
<div class="button">
   <button type="submit" class="btn btn-primary btn-lg btn-block" >去排队</button>
<div class="img"></div>
</div>
</div>
<!--搜索结果第3个结束-->
<!--空白部分 防止底部被遮挡-->
<div class="none">
</div>





</body>
{% block foot %}
    {{   super() }}
{% endblock %}
{% endblock %}