 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<link rel="stylesheet" type="text/css" href="/static/css/food.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<title>小南国特色菜</title>
</head> 
<body style="background:#FBFBFB;">
<div class="food-top">
小南国精选特色菜
</div>
<div class="food-con">
<div class="food-img">
<center><img src="/static/images/img/rou.jpg"/></center>
</div>
<b>外婆红烧肉</b>
<p>这道菜传承了小南国24年以来最传统、最经典的味道。——精选全程质量监控的“上丰”牌供港猪肉，挑肥瘦相间的五花腩，配搭百叶结，采取无油、无水、少糖的健康养生理念，始终坚持传统古法烹制。只一小口，吃到的是满嘴肥肉不腻、瘦肉不柴，酥糯柔软的红烧肉，每一口都让人尝到儿时的记忆，堪称经典。</p>
<span><a class="food-jg">￥68</a>&nbsp;<i style="text-decoration:line-through; font-size:20px; color:#999;">￥100</i></span>
</div>

<div class="food-con">
<div class="food-img">
<center><img src="/static/images/img/fd.jpg"/></center>
</div>
<b>蔬菜沙拉</b>
<p>创造了二十年来累计上百万人品尝的神话。创始人亲手秘制的色拉酱，加上几十种调味料，经过上千次的反复尝试，才有现在独一无二的滋味。—— 精选罗马红、球生菜、紫甘蓝等100%经过“无公害”认证的新鲜蔬菜，搭配小南国创始人亲手秘制的色拉酱、几十种香料，经过上千次反复尝试，创造了二十年来累计上百万人品尝的神话。酸甜、咸鲜、凉爽、柔滑、细腻，五味五感交错体验，吃后依然回味无穷，为每桌必点的经典菜肴之一。</p>
<span><a class="food-jg">￥32</a>&nbsp;<i style="text-decoration:line-through; font-size:20px; color:#999;">￥50</i></span>
</div>
<div class="food-con">
<div class="food-img">
<center><img src="/static/images/img/yu.jpg"/></center>
</div>
<b>清蒸野生鲥鱼</b>
<p>小南国的每一条鲥鱼自捕捞到上桌，鱼鳞都是完整无缺的。配合多年研制的秘制汤汁烹制，鱼肉特别鲜美有弹性。——鲥鱼的珍贵一方面是稀少，另一方面是鲜嫩。捕捞时不仅用专业的锦纶丝三层网，而且鱼不离水，一点点损伤都不行。新鲜的鲥鱼，清蒸上桌，鱼鳞色泽鲜亮，饱含油脂，鱼肉洁白嫩滑，口感更是咸鲜绝妙。若有兴致，品尝前可先检验下鱼鳞是否完整无损。</p>
<span><a class="food-jg">￥368</a>&nbsp;<i style="text-decoration:line-through; font-size:20px; color:#999;">￥400</i></span>
</div>
<div class="food-con">
<div class="food-img">
<center><img src="/static/images/img/xia.jpg"/></center>
</div>
<b>清炒野生河虾仁</b>
<p>这里的虾仁皆来自小南国的专供水域，让“您”尝到的每颗虾仁，肉质紧致、细嫩、有弹性。——小南国拥有自己的养殖水域，阳光充沛，水草丰茂，加上无饲料的天生天养，保证出品的每颗虾仁饱满滑嫩，那种新鲜天然的Q弹，远非市面上百八十块的河虾仁可比。虽说每份218元的价格有点小贵，但是尝完的食客，个个都说值这价。</p>
<span><a class="food-jg">￥218</a>&nbsp;<i style="text-decoration:line-through; font-size:20px; color:#999;">￥230</i></span>
</div>
<a href="/home" class="fhsy">返回首页</a>
</body>
</html>

