 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">

    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>

<title>微餐饮</title>
</head>
<style>
.floor{ width:98%; margin:auto;}
.floor img{ width:48%; }
.floor li{ margin:10px 0; }
</style> 
<body style="background:#EFF2F5;">
<div class="floor" >
<ul style="width:98%; margin:auto;">
<li ><a href="/q/search?user_id={{ user_id }}"><img src="/static/images/stores/home_r1.jpg" /></a>&nbsp;<a href="#"><img src="/static/images/stores/home_r2.jpg" /></a></li>
<li><a href="#"><img src="/static/images/stores/home_r3.jpg" /></a>&nbsp;<a href="#"><img src="/static/images/stores/home_r4.jpg" /></a></li>
<li><img src="/static/images/stores/home_r5.jpg" style="width:97%" /></li>
</ul>

</ul>
</div>
</div>

</body>
</html>

