 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<link rel="stylesheet" type="text/css" href="/static/css/introduce.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<title>小南国详情介绍</title>
</head> 
<body style="background:#FBFBFB;">
<div class="introduce-top">
欢迎光临上海小南国
</div>
<div class="introduce-img">
<img src="/static/images/img/xng.jpg" /></div>
<div class="introduce-text">
<p>
&nbsp;&nbsp;<b>上海小南国</b>虽然历史不长，却在近年来名声鹊起，并在上海餐饮界树立了良好的口碑。小南国是以经营本帮菜式为主的中高档中餐厅。小南国菜单中以海派精品美食为代表, 不但继承保留了海内外食客所推崇的浓郁香酥、腴润适口的上海本帮菜特点。更在此基础上大胆革新，融合了各菜系的优点，发展出自己独特浓郁、细腻、精致、典雅的新上海菜风格。<br />

&nbsp;&nbsp;小南国酒店对食材的选择有严格的标准，并且每一道新菜的推出都要经过上百次的尝试，甚至对每一道菜肴的食材及调料配比都有精确的把握，从而保证食客每次来小南国即使点同样的菜，味道和口感也不会有改变。
</p>
</div>
<div class="introduce-top2">
我们的环境
</div>
<div class="introduce-img2">
<img src="/static/images/img/xng2.jpg" />
<img src="/static/images/img/xng3.jpg" />
<img src="/static/images/img/xng4.jpg" />
<img src="/static/images/img/shxng1.png" />
<img src="/static/images/img/shxng2.png" />
</div>
<a href="/home" class="fhsy">返回首页</a>
</body>
</html>

