 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<script type="text/javascript" src="/static/javascript/touch.js"></script>
 <script type="text/javascript" src="/static/javascript/zepto.extend.js"></script>
 <script type="text/javascript" src="/static/javascript/zepto.ui.js"></script>
 <script type="text/javascript" src="/static/javascript/slider.js"></script>
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">

    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="/static/javascript/show_toolbar.js"></script>
<title>微餐饮</title>
</head> 
<body style="background:#EFF2F5; font-family:'微软雅黑';">

<div class="top" style="margin-bottom:0;">
<h3>上海泰妃阁美食餐厅</h3>
</div>

<div class="diancai">
<ul>
<li style="color:#09F; height:45px;"> 排队成功!</li>
<li style="background:#E9E9E9; height:45px;">排队号：<span style="color:#09f;">18号</span></li>
<li style="height:45px;">前面还有<span style="color:#09f;">5人</span></li>
<li style="background:#E9E9E9;height:45px;">预计<span style="color:#09f;">20分钟</span></li>
<li style="padding:0; margin:10px 0;">
<div id="tuijian">
<ul>
<li class="fl" style="width:40%"><img src="/static/images/stores/food.png" /></li>
<li class="fl" style="width:55%; margin-left:10px;"><p><b>滋乐牛排餐厅</b><br /><br />3月5日-3月10日期间，胡椒牛排八折优惠，消费满一百送一个凉菜，优惠多多，惊喜不断，赶快进来看看吧！</p></li>
<li style=" margin:auto; padding-right:0 !important; width:100%; ">  
  <button type="button"  class="dian3" >进入餐厅</button>
</li>


</ul>
</div>

</li>
<li style="padding:0;">  
<button type="button"  class="dian" style="margin-left:4%;" >去点菜</button>&nbsp;
  <button type="button"  class="dian" >取消</button>
</li>

</ul>

</div>



</body>
</html>

