 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<link rel="stylesheet" type="text/css" href="/static/css/pay.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<title>微餐饮支付</title>
</head> 
<body style="background:#fff;">
<div  class="payend">
<h3><b>恭喜您！交易成功！</b><h3>
<div class="payendt">
<p>您的订单已经付款成功<br />
付款￥{{ price }}元，优惠0元。



</p>
</div>



</div>
<input type="button"  value="返回首页" onclick="window.location.href='/home_page/'" class="payendb" />

</body>
</html>
