{% extends "reception/web_base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/tuijian.css"/>
{% endblock %}
{% block title %} 优惠 {% endblock %}

{% block pager_js %}
{%endblock %}
{% block content %}
    <body style="margin-bottom: 60px; background:#e2f3ef;">
    <div style="width:99%; margin:auto; margin-left:1%;">
    <div class="tjc">
     <span class="tjc-limg" ></span>
    <span class="tjc-lt">
    <span>
     <b >七折</b>
         <p>上海泰妃阁美食餐厅<br>
         一次性消费100元享七折优惠<br>
        有效日期4月9日</p>
    
    </span>
    <img src="/static/images/img/tuijianc.png">
    </span>
    <span class="tjc-r">
    <a href="#">领<br>取</a>
   <img src="/static/images/img/tuijianr1.JPG" class="tjr-img">
    </span>
   
    </div>
<div class="clear"></div>

 <div class="tjc2">
     <span class="tjc-limg2" ></span>
    <span class="tjc-lt2">
    <span>
     <b >七折</b>
         <p>上海泰妃阁美食餐厅<br>
         一次性消费100元享七折优惠<br>
        有效日期4月9日</p>
    
    </span>
    <img src="/static/images/img/tuijianc.png">
    </span>
    <span class="tjc-r2">
    <a href="#">领<br>取</a>
   <img src="/static/images/img/tuijianr2.jpg" class="tjr-img2">
    </span>
   
    </div>
<div class="clear"></div>

<div class="tjc2">
     <span class="tjc-limg2" ></span>
    <span class="tjc-lt2">
    <span>
    <b >七折</b>
         <p>上海泰妃阁美食餐厅<br>
         一次性消费100元享七折优惠<br>
        有效日期4月9日</p>
    </span>
    <img src="/static/images/img/tuijianc.png">
    </span>
    <span class="tjc-r0">
    <a href="#">已<br>领<br>取</a>
   <img src="/static/images/img/tuijianr5.jpg" class="tjr-img2">
    </span>
   
    </div>
    <div class="clear"></div>


 <div class="tjc3">
     <span class="tjc-limg3" ></span>
    <span class="tjc-lt3">
    <span>
     <b >七折</b>
         <p>上海泰妃阁美食餐厅<br>
         一次性消费100元享七折优惠<br>
        有效日期4月9日</p>
    
    </span>
    <img src="/static/images/img/tuijianc.png">
    </span>
    <span class="tjc-r3">
    <a href="#">领<br>取</a>
   <img src="/static/images/img/tuijianr3.jpg" class="tjr-img3">
    </span>
   
    </div>

<div class="clear"></div>



    
<div class="tjc4">
     <span class="tjc-limg4" ></span>
    <span class="tjc-lt4">
    <span>
     <b >七折</b>
         <p>上海泰妃阁美食餐厅<br>
         一次性消费100元享七折优惠<br>
        有效日期4月9日</p>
    </span>
    <img src="/static/images/img/tuijianc.png">
    </span>
    <span class="tjc-r4">
    <a href="#">抢<br>光<br>了</a>
   <img src="/static/images/img/tuijianr4.jpg" class="tjr-img2">
    </span>
    </div>
    
   
<div class="clear"></div>

</div>
        


    
</body>
{% endblock %}