@charset "utf-8";
/* CSS Document */
.introduce-top{ width:100%; height:45px; font-size:18px; color:#FFF; background:#F90; text-align:center; line-height:45px;}
.introduce-top2{ width:100%; height:45px; font-size:18px; color:#FFF; background:#5cc3d2; margin:1% 0; text-align:center; line-height:45px;}
.introduce-top3{ width:100%; height:45px; font-size:18px; color:#FFF; background:#F6C; margin:1% 0; text-align:center; line-height:45px;}
.introduce-img{ width:96%; margin:2% !important; margin:auto;}
.introduce-img2{ width:98%; margin:auto;}
.introduce-img img{ width:100%;}
.introduce-img2 img{ width:48%; margin-left:1% !important;}
.introduce-text{ width:96%; margin:auto; font-size:14px; color:#666;}
.introduce-text p{ width:100%;}
.introduce-yh{ display:block; width:94%; margin:0 auto; margin-top:5px !important; border:1px solid #ccc; height:auto; background:#eee; padding:0 5px 5px 5px;}
.introduce-yht{ margin:0 5px; }
.introduce-yhname{ color:#F90; font-size:15px;}
.introduce-yhimg{ margin:0 5px;} 
.introduce-yhp{ font-size:16px; color:red;}
.fhsy{ width: 90%; margin: auto; margin:6px 0; margin-left: 5%;  display: block; height:45px; text-align: center; font-size: 18px; line-height: 45px; color: #fff; background: #5CC3D2; border: none; border-radius: 3px;}