@charset "utf-8";
/* CSS Document */
.pay-home{ width:96%; margin-left:2%; text-align:center; margin-top:5%;}
.pay-home h1{margin-bottom:5%;}
.pay-homet{ text-align:left; margin-left:2%; border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:12px 0;}
.pay-homet p{ font-size:16px; color:#999; line-height:30px; }
.pay-homet a{ float:right; padding-right:2%;}
.pay{ width:96%; margin-left:2%; margin-top:5%;}
.payk{ width:70%; height:35px; font-size:16px; padding-left:10px; color:#ccc; border:none; background:url(../img/pay2.png) no-repeat left bottom; background-size:100%;}
.payb{ width:96%; margin:5% 2%; background:#A1E08D; border:none; height:40px; border-radius:3px; color:#FFF; font-size:16px; }
.payp{width:90%; margin:5% 2%; color:#999; font-size:14px; background:url(../img/pay1.png) no-repeat left top; padding-left:18px; background-size:15px 20px; }

.pay-top{ width:92%; margin:4%; color:#ccc; font-size:14px; border-bottom:1px solid #CCC;}
.pay-kx{ width:92%; margin:0 4% ; color:#000; font-size:14px; border-bottom:1px solid #CCC; line-height:40px;}
.pay-kx select{ width:80%; height:40px;padding-left:10%; color:#666; font-size:15px; border:none;}
.pay-top2{ width:92%; margin:6% 4% 4% 4%; color:#ccc; font-size:14px; border-bottom:1px solid #CCC;}
.pay-con{ width:96%; margin-left:2%; margin-top:5%;}
.pay-con p{ margin:2% 0; color:#999;}
.pay-con a{ margin:2%; color:#999; font-size:12px; line-height:30px; }
.pay1top{ width:90%; margin-left:5%; font-size:16px; color:#999; line-height:30px;}
.pay1top input{ width:100%; height:40px; border:1px solid #CCC; font-size:30px;}
.pay1b{ width:100%; background:#A1E08D; margin-top:5%; border:none !important; border-radius:3px; font-size:18px !important; color:#FFF;}

.payend{ width:96%; margin-left:2%; text-align:center; line-height:50px;}
.payend h3{line-height:50px;}
.payendb{ width:90%; margin-left:5%;background:#f90; height:40px; line-height:40px; margin-top:5%; border:none; border-radius:3px; font-size:18px ; color:#FFF;}
.payendt p{ font-size:16px; color:#666; line-height:25px;}
.pay-password{ width:90%; margin-left:5%;}
.pay-passwordtop{width:100%; line-height:40px; border-bottom:1px solid #090; color:#090; margin-bottom:10px;}
.pay-passwordt{ color:#FFF; font-size:12px; line-height:20px;}
.pay-passwordm{ color:#FFF; font-size:18px; text-align:center; line-height:40px;}
.pay-passwordinp{ width:100%; margin:0 auto; margin-bottom:10px;}
.pay-passwordinp input{ width:100%;  height:40px; text-align:center; font-size:40px; line-height:40px;}
.pay-passworda { width:50%; float:left;  color:#CCC; text-align:center; font-size:16px; line-height:40px;}
.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	overflow:height;
	top: 0;
	right: 0; 
	}

.reveal-modal {
	visibility: hidden;
	overflow:auto;
	background:#000;
	z-index: 9999;
	width:90%;
	position:fixed;
	top:0; 
	left:5%;
	}
	








