@charset "utf-8";
/* CSS Document */
.people{ width:100%; background:#f75d7f; height:50px;}

.peopleinp{ width:100%; background:url(/static/images/img/dcpg_s1.jpg) ; background-size:100% 100%; height:60px; margin:0 auto; padding-top:6px;}
.peoplespan{font-size:18px;background: url(/static/images/img/diancantop_r1_c1_s1.jpg)no-repeat top left; background-size:100% 100%;  display:block; width:130px; height:50px;  padding-left:40px; color:#fff; line-height:50px;}
#add { background:url(/static/images/img/diancan_r1_c1_s1.jpg) no-repeat;  background-size:100% 35px; width:27%; height:100%; float:left; border:none; margin-right:6.5%; margin-left:4%;}
input#num { background:url(/static/images/img/num.jpg)  no-repeat; background-size:100% 34px;  text-align:center; font-size:15px; color:#999; width:25%;height:35px;  line-height:20px; float:left; border:none; }
#reduce { background:url(/static/images/img/diancan_r1_c3_s1.jpg) no-repeat;  width:27%; background-size:100% 35px; border:none;  height:100%; float:right; margin-right:4%;}

.taoc{ width:100%; background:#fbab2e; height:50px;}
.taocspan{background: url(/static/images/img/diancantop_r3_c1_s1.jpg)no-repeat top left; font-size:18px; background-size:100% 100%; display:block; width:130px; height:50px;padding-left:43px; color:#fff; line-height:50px;}

.taoc-ul ul{ width:98%; margin:0 auto;}
.taoc-ul li{ padding-left:38px; background:url(/static/images/img/dc_s1.jpg) repeat-x; background-size:100% 100%; height:45px; font-size:16px; color:#666;}
.taoc-ul a{ color:#747474; line-height:45px; height:45px; width:90%; background:url(/static/images/img/xinxiright.png) no-repeat right center; display:block; background-size:25px 25px; }
.tcbutton{ width:100%; margin:auto; padding-top:8px;  height:55px; position:fixed; bottom:55px; left:0; }
.tcbutton button{  width:95%;margin-left:2.5%;  border:none; height:45px; border-radius:2px; background:#5CC3D2; font-size:18px; color:#fff;}