 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">

<link rel="stylesheet" type="text/css" href="wei.css"/>
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js">
	<script type="text/javascript" src="javascript/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="javascript/mobile.js"></script>
    <script type="text/javascript" src="javascript/mobileUtil.js"></script>
    <script type="text/javascript" src="javascript/TouchSlide.1.0.js"></script>
    <script type="text/javascript" src="javascript/cart.js" charset="GB2312"></script>
</script><title>微餐饮</title>
</head>
<body style="background:#fff; font-family:'微软雅黑';">
<div id="bannerv2" class="bannerv2">
    <div class="hd">
        <ul><li></li><li class="on"></li><li></li></ul>
    </div>
    <div class="bd">
        <ul>
            <li><a href="javascript:;"><img src="img/zhuye_r1_c1_s1.jpg"></a></li>
            <li><a href="javascript:;"><img src="img/zhuye_r1_c1_s1.jpg"></a></li>
            <li><a href="javascript:;"><img src="img/zhuye_r1_c1_s1.jpg"></a></li>
        </ul>
    </div>
</div>
<!-- 手机焦点图脚本 -->
<script type="text/javascript">
    TouchSlide({
        slideCell:"#bannerv2",
        titCell:".hd ul",
        mainCell:".bd ul",
        effect:"left",
        autoPlay:true,
        autoPage:true,
        switchLoad:"_src"
    });
</script>
<div class="homeimg">
<ul>
<li>
<ul class="homeul2">
<a href="#"><li><img src="img/zhuye_r3_c2_s1.jpg" /></li></a>
<a href="#"><li><img src="img/zhuye_r3_c4_s1.jpg" /></li></a>
<a href="#"><li><img src="img/zhuye_r3_c6_s1.jpg" /></li></a>
</ul>
</li>
<li>
<ul class="homeul2">
<a href="#"><li><img src="img/zhuye_r5_c2_s1.jpg" /></li></a>
<a href="#"><li><img src="img/zhuye_r5_c4_s1.jpg" /></li></a>
<a href="#"><li><img src="img/zhuye_r5_c6_s1.jpg" /></li></a>
</ul>

</li>

</ul>

</div>



</body>
</html>

