 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">

<link rel="stylesheet" type="text/css" href="wei.css"/>
<script type="text/javascript" src="./js/touch.js"></script>
 <script type="text/javascript" src="./js/zepto.extend.js"></script>
 <script type="text/javascript" src="./js/zepto.ui.js"></script>
 <script type="text/javascript" src="./js/slider.js"></script>
<title>微餐饮</title>
</head> 
<style>
input{ width:95%; margin:auto; height:40px; text-align:center;}

button{ width:96%; margin:auto; height:45px; background:#58C8DC; border:1px solid #58C8DC; color:#fff; font-size:15px; font-family:'微软雅黑'; font-weight:bold;}
</style>
<body style="background:#EBF3F4;">

<div class="login" >
<div class="dianyuan">
<h2>店员登陆</h2>
</div>
<div class="denglu">
<ul style="margin:auto; width:95%;">
<li>
<div class="username"></div>

<input type="text" class="form-control" id="inputMobile" name="inputMobile" placeholder="请输入用户名">
 
 </li>
 <li>
<div class="password"></div>
<input type="password" class="form-control" id="inputMobile" name="inputMobile" placeholder="请输入密码">
</li>

 <li>
<button type="submit"  value="登陆">登&nbsp;&nbsp;&nbsp;陆</button>
</li>
</ul>
</div>

</div>



</body>
</html>

