 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<link rel="stylesheet" type="text/css" href="wei.css"/>
<title>微餐饮</title>
</head> 
<body style="background:#E9E9E9;">

<div id="des">   
 <ul id="nav_des">
       <a href="#"> <li><b>我的排队</b></li></a>
        <a href="#"> <li><b>相关推荐</b></li></a>
    </ul>
    </div>
<div class="clear"></div>
<div class="number2">12</div>
<div id="content">
    	<div class="content_list">
        	<div class="destop">
            <b>上海泰妃阁美食餐厅</b>
            </div>
            <div class="zhuoxing">
            <ul class="zhuoxingul">
            <li>
             <ul class="zhuoxingul2" >
            <li><label><input name="size" type="radio" value="" />&nbsp;二人桌 </label> </li>
            <li>前面还有一人</li>
            <li>预计时间5分钟</li>
            </ul>
            </li>
            <li>
             <ul class="zhuoxingul2" >
            <li><label><input name="size" type="radio" value="" />&nbsp;二人桌 </label></li>
            <li>前面还有一人</li>
            <li>预计时间5分钟</li>
            </ul>
            </li>
            <li>
             <ul class="zhuoxingul2" >
            <li><label><input name="size" type="radio" value="" />&nbsp;二人桌 </label></li>
            <li>前面还有一人</li>
            <li>预计时间5分钟</li>
            </ul>
            </li>
            </ul>
            
            </div>
           
            <div class="button">
   <button type="submit" class="btn btn-primary btn-lg btn-block" >去排队</button>
			</div>
            
        </div>

<div id="foot">
<ul>
<a href="#" ><li class="home1"></li></a>
<a href="#" ><li class="home2"></li></a>
<a href="#" ><li class="home3"></li></a>
<a href="#" ><li class="home4"></li></a>
<a href="#" ><li class="home5"></li></a>
</ul>

</div>


</body>
</html>

