 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<link rel="stylesheet" type="text/css" href="wei.css"/>
<title>微餐饮</title>
</head> 
<body style="background:#E9E9E9;">

<div id="des">   
 <ul id="nav_des">
       <a href="#"> <li><b>我的排队</b></li></a>
        <a href="#"> <li><b>相关推荐</b></li></a>
    </ul>
    </div>
<div class="clear"></div>
<div class="number2">12</div>
 <!--排队成功-->   
 <div class="content_list" style="height:400px; background:none; border:none; width:98%; margin:auto;" >
	<div class="nan">
	<div class="pdcg">
	<p style="font-size:18px; color:#333; width:90%;  padding-top:30px; margin-left:10%; ">上海泰妃阁美食餐饮</span>&nbsp;&nbsp;<span style="font-size:14px; color:#999;">2014/4/11
	<p class="nantext">餐桌类型：<span class="nanp">二人桌</span></p>
	<p class="nantext">前面还有：<span class="nanp">4人</span></p>
	<p class="nantext">排队号：<span class="nanp">18号</span></p>
	<p class="nantext" style="background:url(img/id.png) no-repeat center left ; width:80%; padding-left:20px; margin-left:10%; ">上海市黄浦区南京东路720号第一食品四楼</p>
</p>
</div>
<div class="desbutton">
   <button type="submit" class="btn btn-primary btn-lg btn-block" >取消</button>
   <button type="submit" class="btn btn-primary btn-lg btn-block fr" >去点菜</button>


</div></div>


<div id="foot">
<ul>
<a href="#" ><li class="home1"></li></a>
<a href="#" ><li class="home2"></li></a>
<a href="#" ><li class="home3"></li></a>
<a href="#" ><li class="home4"></li></a>
<a href="#" ><li class="home5"></li></a>
</ul>

</div>


</body>
</html>

