 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">

<link rel="stylesheet" type="text/css" href="wei.css"/>
<title>微餐饮</title>
</head> 
<body style="background:#EBF3F4;">
<div class="shouye">
<div class="title">
<p>10分钟晚餐  美味如此简单</p>
<span>2014/03/26<span style="color:#0000A0"> &nbsp;&nbsp;餐饮小编</span></span>
</div>

<div id="food">
<a href="#"><img src="img/home_s1.jpg" /></a>
</div>

<div id="text">
<p>&nbsp;&nbsp;&nbsp;&nbsp;美食鉴赏文字介绍美食鉴赏文字介绍美食鉴赏文字介绍美食鉴赏文字介绍美食鉴赏文字介绍美食鉴赏文字介绍美食鉴赏文字介绍美食鉴赏文字介绍美食鉴赏文字介绍</p>

</div>

</div>

</body>
</html>

